//- vim:ts=4:sw=4:
doctype html
html
	head
		include head
		title Verify mail
	body
		include header
		article
			h1 Verify mail
			if flash
				p.error= flash
			else
				p.error Please verify your mail address!

			p Your mail address is <code>#{user.mail}</code>

			p If the above address is wrong, you can <a href="/account/mail/change">change it</a>!

			if sent_token
				p Your token is in the mail!
			else
				form(method="post" action="/account/mail/verify-send")
					p
						button(type="submit") Send token

			form(method="post")
				p
					label Enter your mail verification token here:
						br
						input(type="text" name="token" size=32 value=token required)
				p
					button(type="submit") Verify

